section{
 display:flex;
 flex-direction: row;
}
img{
padding: 20px;
}
body{
    background-color: #e2e4e5; 
}
section:hover{
    display:flex;
    flex-direction: row;
}
img:hover{
padding: 20px;
}
body:hover{
    background-color: #e2e4e5; 
}
h1{
    font-family:'Times New Roman', Times, serif;
    text-align : center ;
}